<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Survey Form</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="question-container">
        <div id="question-text" style="color: aliceblue;">Enter User Details</div>
        <div id="options-container">
          <input type="text" name="userName" id="user-name" placeholder="Name">
          <input type="email" name="userEmail" id="user-email" placeholder="Email">
          <input type="phone" name="userPhone" id="user-phone" placeholder="Phone">
          <button id="submit-user-detail">Submit</button>
        </div>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>

