body {
    font-family: Arial, sans-serif;
    background-color: black;
  }
  h3{
    color: #ccc;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #question-container {
    text-align: center;
  }
  
  #options-container {
    margin-top: 20px;
  }
  
  #options-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #options-container button {
    padding: 10px 20px;
    background-color: #f53030;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #options-container button:hover {
    background-color: #0056b3;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  